body { 
    background-color: #ffff;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1.5em; 
}
/* Navbar */
nav { 
    background-color: #34354a; 
    border-bottom: 10px solid #3174ee;
}

.navbar-brand { 
    text-decoration: none; 
    color: #ffff;
    font-size: 0.75em;
}

#login-btn{ 
    text-decoration: none; 
    color: #ffff;
    font-size: 0.75em;
}

/* Intro Section*/
.card-intro {
    /* test color */
    background-color: #dddd; 
    padding-top: 100px;
    padding-bottom: 100px;
}

.title-text { 
    padding: 20px;
}

/* Playlist Section */



